body{
background: url(img3.akspic.ru-nastoyashhee_vremya-derevo-prazdnik-rozhdestvo-krasnyj_cvet-5760x3840.jpg);
background-size: cover;
}
h1{
    color: rgba(255, 0, 0, 0.811);
    font-size: 150px;
}
p{
font-size: 35px;
color: rgba(3, 240, 23, 0.959);
}

#blink1{
  -webkit-animation: blinkl 3s linear infinite;
  animation:blink1 3s linear infinite;
}
 @-webkit-keyframes blink1 {
 0% { color: rgba(240, 3, 15, 1); } 
 50% { color:rgb(232, 3, 240); }
 100% {color:rgb(3, 7, 240) ;}
 }
 @keyframes blink1 {
 0% { color: rgb(3, 193, 240); } 
 50% { color:rgba(3, 240, 23, 0.959); }
 100% { color:rgb(240, 204, 3); }
}







